#!/bin/bash

# Name of the application
NAME="{{ project_name }}_celery"

# Django project directory
DJANGODIR="/home/{{ project_name }}/{{ project_name }}"

# Error logs
CELERY_LOG="/home/{{ project_name }}/{{ project_name }}/tmp/logs/celery.log"

# ---------------------------------------------------------------------------------------

# Change to project directory
cd $DJANGODIR

# Activate the virtual environment
source env/bin/activate

# Start your Django Celery
echo "Starting $NAME as `whoami`"

./env/bin/celery \
    --app={{ project_name }}.celery:app worker \
    --loglevel=INFO
    --logfile=$CELERY_LOG
